.player1 {
  display: none;
}
.player2 {
  display: none;
}


 img {
  height: 200px;
  /*vertical-align: middle;*/
  /*border-color: white;*/
}

#roll {
  height: 200px;
  box-shadow: none;

}

#displayRoll {
  text-align: center;

}
